images/avatars/uploads
images/captchas
images/member_photos
images/pm_attachments
images/signature_attachments
images/uploads
system/config.php
system/cache/db_cache
system/cache/magpie_cache
system/cache/page_cache
